<div class="row">
  <div class="span3 offset4">
    <legend>Sign up</legend>
  
    <%= form_for (@user) do |f| %> 
      <%= render 'layouts/error_messages', :object => f.object %>
      <div class="field">
        <div class="input-prepend">
          <span class="add-on"><i class= "icon-user"></i></span>
          <%= f.text_field :name, :placeholder => "Name" %>
        </div>  
      </div><br/>
      <div class="field"> 
        <div class="input-prepend">
          <span class="add-on"><i class="icon-envelope"></i></span>
          <%= f.text_field :email, :placeholder => "Email" %>
        </div>  
      </div><br/>
      <div class="field">
        <div class="input-prepend">
          <span class="add-on"><i class= "icon-lock"></i></span>
          <%= f.password_field :password, :placeholder => "Password" %>
        </div>  
      </div><br/>
      <div class="field">
        <div class="input-prepend">
          <span class="add-on"><i class= "icon-lock"></i></span>
          <%= f.password_field :password_confirmation, :placeholder => "Password confirmation" %>
        </div>
      </div><br/>
      <div class="submit">
        <%= f.submit "Sign up", :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
