<script type="text/javascript" charset="utf-8">

window.onload = function(){

    var canvas = document.getElementById("canvas");     
    var gauge1 = new CGauge(canvas, "darkturquoise", 50, "D9", "C");
    gauge1.draw(<%= @TemperatureD9.value %>);
    canvas = document.getElementById("canvas2");     
    var gauge2 = new CGauge(canvas, "darkturquoise", 50, "D10", "C");
    gauge2.draw(<%= @TemperatureD10.value %>);
    canvas = document.getElementById("canvas3");     
    var gauge3 = new CGauge(canvas, "darkturquoise", 50, "A3", "C");
    gauge3.draw(<%= @TemperatureA3.value %>);
    canvas = document.getElementById("canvas4");     
    var gauge4 = new CGauge(canvas, "darkturquoise", 50, "A4", "C");
    gauge4.draw(<%= @TemperatureA4.value %>);
    canvas = document.getElementById("canvas5");     
    var gauge5 = new CGauge(canvas, "darkturquoise", 50, "R", "C");
    gauge5.draw(<%= @TemperatureR.value %>);
    canvas = document.getElementById("canvas6");     
    var gauge6 = new CGauge(canvas, "deepskyblue", 100, "A3", "%");
    gauge6.draw(<%= @HumidityA3.value %>);
    canvas = document.getElementById("canvas7");
    var gauge7 = new CGauge(canvas, "deepskyblue", 100, "A4", "%");
    gauge7.draw(<%= @HumidityA4.value %>);
  }
</script>

<div class="row">
  <div class="span9">
    <legend>Temperature</legend>
    <canvas id="canvas" width="110" height="110"></canvas>
    <canvas id="canvas2" width="110" height="110"></canvas>
    <canvas id="canvas3" width="110" height="110"></canvas>
    <canvas id="canvas4" width="110" height="110"></canvas>
    <canvas id="canvas5" width="110" height="110"></canvas>
    <legend>Humidity</legend>
    <canvas id="canvas6" width="110" height="110"></canvas>
    <canvas id="canvas7" width="110" height="110"></canvas>
  </div>
  <div class="span3">
    <%= render 'layouts/user_info' %>
    <br/>
    <%= render 'layouts/fhysical' %>
  </div>
</div>
