<div style = "margin-bottom: 7px">
  <% if @user.avatar? %>
    <%= image_tag(@user.avatar_url.to_s, :class => 'img-polaroid') %>
  <% else %>
    <%= image_tag('default 64.png', :class => 'img-polaroid') %>
  <% end %>
</div>  

<table class="table">
  <tr>
    <th><i class= "icon-user"></i><strong> Name:</strong></th>
    <th><%= @user.name %></th>
  </tr>
  <tr>
    <th><i class="icon-envelope"></i><strong> Email:</strong></th>
    <th><%= @user.email %></th>
  </tr>
  <tr>
    <th><i class= "icon-search"></i><strong> URL:</strong></th>
    <th><%= link_to user_path(@user), @user %></th>
  </tr>
</table>
